{% extends 'base.html' %} {% block body %} {{ super() }}
<h1 style="text-align: center;">{{ title }}</h1>
<hr>
<div class="row">
  <div class="col-5">
    <h2>请选择问题进行分析</h2>
    <hr>
    <form action="/search" method="post">
      <label for="question-id">问题ID</label>
      <input id="question-id" pattern="[1-9][0-9]*" title="请输入下列ID中的一个" name="question-id" required>
      <label for="max-num">前N条</label>
      <input id="max-num" pattern="[1-9][0-9]*|-1" title="请输入正整数或-1" name="max-num" required>
      <button id="search-btn" type="submit">查找</button>
    </form>
    <hr>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>问题描述</th>
        </tr>
      </thead>
      <tbody>
        {{ questions|safe }}
      </tbody>
    </table>
  </div>
  <div class="col-7">
    <h2>分析结果</h2>
    <hr>
    <div id="results">
      {{ results|safe }}
    </div>
  </div>
</div>
<script src="static/js/main.js"></script>
{% endblock %}